src/java/com/novartis/connectors/schemas/getPageElements.xsd.r118

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="campaignid" type="xs:integer" />
              <xs:element name="consumerid" type="xs:integer" />
              <xs:element name="elements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:choice maxOccurs="unbounded">
                            <xs:element name="name" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="message" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="weekday" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="frequency" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="time" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="systolic" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="diastolic" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="date" minOccurs="0" maxOccurs="unbounded" type="xs:dateTime" />
                            <xs:element name="last_time" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="today" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="week" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="first_name" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="last_name" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="dob" minOccurs="0" maxOccurs="unbounded" type="xs:dateTime" />
                            <xs:element name="gender" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="address1" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="address2" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="city" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="state" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="zip" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="email" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="message_type" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="other" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="sms" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="sms_accept" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="new_password" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="campaignindividualid" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="individualid" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="ibcontacteventid" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="srccode" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="user_name" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="password" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="phone" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="email_address" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="marketing" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="accept" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="address_line1" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="address_line2" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="comments" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question1" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question2" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question3" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question4" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question5" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question6" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="question7" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="activities_completed" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="completed_count" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="icon_image" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="today_total" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="week_total" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="from" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="to" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="daily_systolic_points" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="daily_diastolic_points" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="assesment_stat" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="selected" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="systolic_value" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="siastolic_value" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="last_read" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="start_date" minOccurs="0" maxOccurs="unbounded" type="xs:dateTime" />
                            <xs:element name="end_date" minOccurs="0" maxOccurs="unbounded" type="xs:dateTime" />
                            <xs:element name="result" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="option" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="next_remind_time" minOccurs="0" maxOccurs="unbounded" />
                            <xs:element name="next_remind_message" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="high_bp" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="medication" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="drug_unique_id" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="agrees" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="reminder_id" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="goal" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="buddy_id" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="buddyid" minOccurs="0" maxOccurs="unbounded" type="xs:integer" />
                            <xs:element name="country" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                            <xs:element minOccurs="0" name="user_activity_id" type="xs:integer" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="activity">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="activityid" type="xs:integer" />
                                  <xs:element minOccurs="0" name="user_activity_id" type="xs:integer" />
                                  <xs:element minOccurs="0" name="value" type="xs:integer" />
                                  <xs:element minOccurs="0" name="date" type="xs:dateTime" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="reminder">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" name="reminder_id" type="xs:string" />
                                  <xs:element name="reminder_type" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="weekdays">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="weekday" type="xs:string" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="start_time" type="xs:time" />
                                  <xs:element minOccurs="0" name="start_date" type="xs:dateTime" />
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="times">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="time" type="xs:time" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" name="period" type="xs:string" />
                                  <xs:element minOccurs="0" name="frequency" type="xs:string" />
                                  <xs:element minOccurs="0" name="email" type="xs:integer" />
                                  <xs:element minOccurs="0" name="sms" type="xs:integer" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
